.recipes.row {
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    flex-grow: 1;
  }

  .fa-chevron-down, .fa-chevron-up {
    font-size: 22px;
  }

  .categories-sm {
    cursor: pointer;

    .fa-chevron-down {
      font-size: 14px;
    }
  }

  .recipe-items-buy {
    .card {

      .remove-item, .view-more {
        cursor: pointer;
      }

      img {
        height: 107px;
        object-fit: cover;
        max-width: 100%;

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
          height: 137px;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
          height: 147px;
        }
      }
    }
  }

  .search-list-my-group {
    max-height: 370px;
    overflow-y: scroll;

    li {
      cursor: pointer;

      &:hover {
        background-color: #5cb85c;
        color: white;
      }
    }
  }


  .goToAllRecipes {
    cursor: pointer;

    .fa-arrow-left {
      font-size: 14px;
    }

    &:hover {
      color: #5cb85c !important;
    }
  }

  .col-lg-2.choose-items {
    //height: 100%;
    //overflow-y: scroll;
    //direction: ltr;
    height: 100vh;

    .category-item {
      border-bottom-left-radius: 17px;
      border-top-left-radius: 17px;
      cursor: pointer;
    }
  }

  .dropdown-menu {
    z-index: 2000;
  }

  .col-lg-10.items {
    //height: 100%;
    //overflow-y: scroll;

    .items-list {
      //margin-bottom: 270px;

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        margin-bottom: 0;
      }
    }

    .searchBar {
      z-index: 100;
      position: sticky;
      //position: -webkit-sticky;
      top: 68px;
      -webkit-box-shadow: 0 8px 6px -6px grey;
      -moz-box-shadow: 0 8px 6px -6px grey;
      box-shadow: 0 8px 6px -6px grey;
    }


    @media (min-width: 992px) {
      position: absolute;
      left: 0;
      //height: 100%;
      //overflow-y: scroll;
    }
  }

  .searchBar-sm {
    z-index: 100;
    -webkit-box-shadow: 0 8px 6px -6px grey;
    -moz-box-shadow: 0 8px 6px -6px grey;
    box-shadow: 0 8px 6px -6px grey;
  }


  .items {
    .card.recipe-main-card {
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        @media (min-width: 992px) {
          //color: #5cb85c !important;
          transform: scale(1.05);
        }
      }

      .card-img-top {
        height: 370px;
        width: 100%;
        object-fit: cover;

        @media (min-width: 576px) {
          height: 270px;
        }
      }

      .card-text {
        font-size: 22px;
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
          font-size: 17px;
        }
      }
    }
  }

  .recipe {
    margin-bottom: 170px;
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      margin-bottom: 70px;
    }

    .fa-arrow-right {
      font-size: 14px;
    }

    .fa-circle {
      font-size: 7px;
    }

    .goBack {
      font-size: 15px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: #5cb85c !important;
      }
    }

    .btn-group .middle {
      width: 2.8em;
    }


    img.img-response {
      height: 70px;
      object-fit: cover;
    }

    .fa-user-circle {
      font-size: 27px;
    }

  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;

    .btn {
      border: 1px solid #292b2c;
      color: #292b2c;
      background-color: white;
      padding: 3px 17px;
      border-radius: 7px;
      font-size: 17px;
      letter-spacing: 0;
    }
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .remove-item {
    font-size: 17px;
  }

  img.more-like-recipe {
    height: 277px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 576px) {
      height: 370px;
    }
  }

  .choose-another-recipe {
    cursor: pointer;
  }
}

.modalItem {
  .modalImg {
    height: 170px;
    object-fit: contain;
  }

  .relatedItems {
    height: 107px;
    object-fit: contain;
  }
}

.modalAddToCart {
  .fa-angle-left {
    font-size: 15px;
  }

  .btn-empty {
    width: 200px;
  }
}