.navbar {
  z-index: 1500;

  .nav-link {
    font-size: 17px;
  }

  .fa-user-circle {
    font-size: 17px;
  }

  .navbar-brand {
    font-size: 27px;
  }

  .fa-carrot {
    color: orange;
  }

  li {
    span {
      cursor: pointer;
    }
  }

  .dropdown-item {
    &:active {
      background-color: #5cb85c;
    }
  }

  a.beActive:focus, a.beActive:active {
    color: #5cb85c !important;
  }
}

.bottomNav {
  z-index: 1500;
  font-size: 19px;

  .nav-item {
    width: 50%;
  }
}
