body {
    font-family: 'Rubik', sans-serif;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align:right;
    margin: 0
}

.App {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .App {
        height: 100vh;
        /*overflow: hidden;*/
    }
}

*:focus {
    outline-color: inherit !important;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.modal {
    z-index: 3000;
}

a {
    text-decoration: none !important;
}
