.login {
  height: 100%;
  overflow-y: scroll;

  i.fa-carrot {
    font-size: 37px;
    color: orange;
  }

  .registerLink {
    cursor: pointer;
  }

  form {
    width: 350px;
    max-width: 90vw;

    // Large devices (desktops, 992px and up)
    //@media (min-width: 992px) {
    //  width: 770px;
    //}
  }

  .reset-password {
    cursor: pointer;
  }
}

